<p>add-teacher works!</p>
<div class="head">
    <div class="head-container">
        <h3>Add Teacher</h3>
    </div>
</div>

<div class="input">
    <div class="input-container">
        <mat-form-field appearance="fill">
            <mat-label>ID :</mat-label>
            <input matInput>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>PASSWORD :</mat-label>
            <input matInput>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Name - Surname :</mat-label>
            <input matInput>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Address :</mat-label>
            <input matInput>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Age :</mat-label>
            <input matInput>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Department :</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Major :</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Subject :</mat-label>
            <input matInput>
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" (click)="submit()">Submit</button> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <button mat-raised-button mat-dialog-close>Cancel</button>
    </div>
</div>