<div class="head">
    <div class="head-container">
        <h3>Add Officer</h3>
    </div>
</div>

<div class="input">
    <div class="input-container">
        <mat-form-field appearance="fill">
            <mat-label>Officer ID:</mat-label>
            <input matInput>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Officer Password:</mat-label>
            <input matInput>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Officer Namesurname:</mat-label>
            <input matInput>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Officer Address:</mat-label>
            <input matInput>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Officer Rank:</mat-label>
            <input matInput>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Officer Department:</mat-label>
            <input matInput>
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" (click)="submit()">Submit</button>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <button mat-raised-button mat-dialog-close>Cancel</button>
    </div>
</div>