<div class="example-container">
    <h3>เพิ่มรายวิชา</h3>
    <mat-form-field appearance="fill">
        <mat-label>รหัสวิชา:</mat-label>
        <input matInput>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>ชื่อวิชา:</mat-label>
        <input matInput>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>ภาควิชา:</mat-label>
        <input matInput>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>สาขาวิชา:</mat-label>
        <input matInput>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>สถานะ:</mat-label>
        <mat-select>
            <mat-option value="option">ใช้งาน</mat-option>
            <mat-option value="option">เลิกใช้งาน</mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary">ยืนยัน</button> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <button mat-raised-button (click)="close()">ยกเลิก</button>

</div>