<body>
    <form #a="ngForm" (ngSubmit)="onSubmit(a)">
    <form [formGroup]="loginForm1" class="container" #a="ngForm" (ngSubmit)="onSubmit(a)">
        <h1>Log in</h1>
        <mat-form-field>
            <input matInput placeholder="Username" formControlName="username" name="first" ngModel>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="password" placeholder="Password" formControlName="password" name="last" ngModel>    
          </mat-form-field>
      
          <button [disabled]="!loginForm1.valid" mat-raised-button color="primary" mat-button >Sign In</button>
    </form>
</form>
</body>