<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<h1>
hello officers
</h1>
<h1>Show Officers</h1>
<table class="table ">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Pass</th>
        <th scope="col">Name Surname</th>
        <th scope="col">Address</th>
        <th scope="col">Rank</th>
        <th scope="col">Department</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of data01">
        <th scope="row">{{ d.offId }}</th>
        <td>{{ d.offPass }}</td>
        <td>{{ d.offNameSurname }}</td>
        <td>{{ d.offAddress }}</td>
        <td>{{ d.offRank }}</td>
        <td>{{ d.offDepartment }}</td>
        <td><button type="button" class="btn btn-outline-primary" ngbPopover="Delete" triggers="mouseenter:mouseleave" popoverTitle="Click to Delete " (click)="deletealert()" >
          Show
        </button></td>
        <td><button type="button" class="btn btn-outline-danger" ngbPopover="Delete" triggers="mouseenter:mouseleave" popoverTitle="Click to Delete " (click)="deletealert()" >
            Delete
          </button></td>
          <td><button type="button" class="btn btn-outline-warning" ngbPopover="Edit" triggers="mouseenter:mouseleave" popoverTitle="Click to Edit " (click)="deletealert()" >
            Edit
          </button></td>

      </tr>
      </table>
      