
<table class="table table-hover">
    <thead class="table-success">
        <tr>
            <th scope="col">รหัสวิชา</th>
            <th scope="col">ชื่อวิชา</th>
            <th scope="col">คณะ</th>
            <th scope="col">สาขา</th>
            <th scope="col">สถานะ</th>
            <th scope="col">รายละเอียด</th>
            <th scope="col">ลบรายวิชา</th>
            <th scope="col">แก้ไขรายวิชา</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let d of data02">
            <th scope="row">{{ d.subId }}</th>
            <td>{{ d.subName }}</td>
            <td>{{ d.subPak }}</td>
            <td>{{ d.subSaka }}</td>
            <td>{{ d.subStatus }}</td>
            <td><button type="button" class="btn btn-primary mb-2 mr-2" (click)="open(content, d )">
                แสดงข้อมูลรายวิชา
              </button>

                <ng-template #content let-modal>
                    <div class="modal-header">
                        <h4 class="modal-title" id="modal-basic-title">รายชื่อ</h4>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <table style="width:100%">
                                    <tr>
                                        <th>รหัสวิชา</th>
                                        <th>ชื่อวิชา</th>
                                        <th>คณะ</th>
                                        <th>สาขา</th>
                                        <th>สถานะ</th>
                                        
                                    </tr>
                                    <tr>
                                        <td>{{subjectItem.subId}}</td>
                                        <td>{{subjectItem.subName}}</td>
                                        <td>{{subjectItem.subPak}}</td>
                                        <td>{{subjectItem.subSaka}}</td>
                                        <td>{{subjectItem.subStatus}}</td>
                                     
                                    </tr>
                                </table>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">
                    Close
                  </button>
                    </div>
                </ng-template>
            </td>
            <td>
                <div class="row">
                    <div class="col">
                        <div ngbDropdown class="d-inline-block">
                            <button class="btn btn-warning" id="dropdownForm1" ngbDropdownToggle (click)="editItem(d)">แก้ไขข้อมูล</button>
                            <div ngbDropdownMenu aria-labelledby="dropdownForm1">
                                <form>
                                    <div class="form-group">
                                        <label for="teaId">รหัสวิชา :</label>
                                        <input type="string" class="form-control" id="teaId" placeholder="กรอกรหัสผู้ใช้" name="teaId" value={{subjectItem.subId}} />
                                    </div>
                                    <div class="form-group">
                                        <label for="teaPass">ชื่อวิชา :</label>
                                        <input type="string" class="form-control" id="teaPass" placeholder="กรอกรหัสผ่าน" name="teaPass" value={{subjectItem.subName}} />
                                    </div>
                                    <div class="form-group">
                                        <label for="teaNameSurname">คณะ :</label>
                                        <input type="string" class="form-control" id="teaNameSurname" placeholder="กรอกชื่อ - ชื่อ-นามสกุล" name="teaNameSurname" value={{subjectItem.subPak}} />
                                    </div>
                                    <div class="form-group">
                                        <label for="teaAddress">สาขา :</label>
                                        <input type="string" class="form-control" id="teaAddress" placeholder="กรอกที่อยู่" name="teaAddress" value={{subjectItem.subSaka}} />
                                    </div>
                                    <div class="form-group">
                                        <label for="teaAge">สถานะ :</label>
                                        <input type="string" class="form-control" id="teaAge" placeholder="กรอกอายุ" name="teaAge" value={{subjectItem.subStatus}} />
                                    </div>
                                
                                    <br />
                                    <button type="button" onclick="alert('แก้ไขข้อมูลเรียบร้อย')" ngbTooltip="คลิ๊กเพื่อทำการลบ" [openDelay]="10" [closeDelay]="50" class="btn btn-success">
                  แก้ไขข้อมูล
                </button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <button type="button" class="btn btn-danger" onclick="alert('ลบข้อมูลเรียบร้อย')" ngbTooltip="คลิ๊กเพื่อทำการลบ" [openDelay]="10" [closeDelay]="50">
          ลบข้อมูลสินค้า
        </button>
            </td>
        </tr>
    </tbody>
    <br>
    <div class="in">
        <button type="button" class="btn btn-success" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample" ngbTooltip="คลิ๊กเพื่อทำการเพิ่มข้อมูล" [openDelay]="10" [closeDelay]="50">
            เพิ่มข้อมูล
          </button>
    </div>

</table>
<div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
    <div class="card">
        <div class="card-body">
            <div class="container">
                <h2>เพิ่มข้อมูล</h2>
                <form >
                    <div class="form-group">
                        <label for="teaId">รหัสวิชา :</label>
                        <input type="string" class="form-control" id="teaId" placeholder="กรอกรหัสวิชา" name="teaId" />
                    </div>
                    <div class="form-group">
                        <label for="teaPass">ชื่อวิชา :</label>
                        <input type="string" class="form-control" id="teaPass" placeholder="กรอกชื่อวิชา" name="teaPass" />
                    </div>
                    <div class="form-group">
                        <label for="teaNameSurname">คณะ :</label>
                        <input type="string" class="form-control" id="teaNameSurname" placeholder="กรอกชื่อคณะ" name="teaNameSurname" />
                    </div>
                    <div class="form-group">
                        <label for="teaAddress">สาขา :</label>
                        <input type="string" class="form-control" id="teaAddress" placeholder="กรอกสาขา" name="teaAddress" />
                    </div>
                    <div class="form-group">
                        <label for="teaAge">สถานะ :</label>
                        <input type="string" class="form-control" id="teaAge" placeholder="กรอกสถานะ" name="teaAge" />
                    </div>
         
                    <br />
                    <button type="button" onclick="alert('แก้ไขข้อมูลสินค้าเรียบร้อย')" class="btn btn-success">
      เพิ่มข้อมูลคุณครู
    </button>
                </form>
            </div>
        </div>
    </div>
</div>