<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">




<table class="table ">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name Surname</th>
        <th scope="col">Address</th>
        <th scope="col">Age</th>
        <th scope="col">Department</th>
        <th scope="col">Major</th>
        <th scope="col">Subject</th>
        <th scope="col">Show Detail</th>
        <th scope="col">Edit Student</th>
        <th scope="col">Delete Student</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of data01">
        <th scope="row">{{ d.stuId }}</th>
        <td>{{ d.stuNameSurname }}</td>
        <td>{{ d.stuAddress }}</td>
        <td>{{ d.stuAge }}</td>
        <td>{{ d.stuPak }}</td>
        <td>{{ d.stuSaka }}</td>
        <td>{{ d.subL }}</td>
        <td>
          <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
            <ngb-panel title="Show">
              <ng-template ngbPanelContent>
                <p>Name : {{ d.stuNameSurname }}</p>
        <p> Address : {{ d.stuAddress }}</p>
        <p> Age : {{ d.stuAge }}</p>
        <p> Department : {{ d.stuPak }}</p>
        <p>Major : {{ d.stuSaka }}</p>
        <p>Subject : {{ d.subL }}</p>
              </ng-template>
            </ngb-panel>
            
          </ngb-accordion></td>
        <td>
          <button type="button" class="btn btn-outline-warning" ngbPopover="Edit" triggers="mouseenter:mouseleave" popoverTitle="Click to Edit " (click)="open(content)" >
          Edit
        </button>
      </td>
        <td><button type="button" class="btn btn-outline-danger" ngbPopover="Delete" triggers="mouseenter:mouseleave" popoverTitle="Click to Delete " (click)="deletealert()" >
            Delete
          </button></td>
          

      </tr>
      </table>
      <hr>
      <h1>Add Student</h1>
<div>
      <div class="container">
        <div class="row">
            <div class="col-md-3">
            <label class="form-label">ID</label>
            <input  class="form-control"  >
            </div>
          
          <div class="col-md-3">
            <label  class="form-label">Password</label>
            <input  class="form-control"  >
          </div>
        
          <div class="col-md-6">
            <label  class="form-label">Name Surname</label>
            <input  class="form-control"  >
          </div>
        
          <div class="col-md-6">
            <label  class="form-label">Address</label>
            <input  class="form-control"  >
          </div>
          <div class="col-md-6">
            <label  class="form-label">Age</label>
            <input  class="form-control"  >
          </div>
          <div class="col-md-4">
            <label  class="form-label">Department</label>
            <input  class="form-control"  >
          </div>
          <div class="col-md-4">
            <label  class="form-label">Major</label>
            <input  class="form-control"  >
          </div>
          <div class="col-md-4">
            <label  class="form-label">Subject</label>
            <input  class="form-control"  >
          </div>
        </div>
        <button type="button" class="btn btn-outline-success" ngbPopover="Add Sutdeunt" triggers="mouseenter:mouseleave" popoverTitle="Click to Add Sutdeunt" >
            Add Sutdeunt
          </button>
        </div>

       
        

        <ng-template #content let-modal>
          <div class="modal-header">
            <h1 class="modal-title" id="modal-basic-title">Edit Student</h1>
            <button type="button" class="btn-danger" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            Close</button>
          </div>
          <div class="modal-body">
            <form>
              <div class="row">
                <label  class="form-label">ID</label>
                <input  class="form-control"  >
                <label  class="form-label">Password</label>
                <input  class="form-control"  >
                <label  class="form-label">Name Surname</label>
                <input  class="form-control"  >
                <label  class="form-label">Address</label>
                <input  class="form-control"  >
                <label  class="form-label">Age</label>
                <input  class="form-control"  >
                <label  class="form-label">Department</label>
                <input  class="form-control"  >
                <label  class="form-label">Major</label>
                <input  class="form-control"  >
                <label  class="form-label">Subject</label>
                <input  class="form-control"  >
               
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-success" (click)="modal.close('Save click')">Save</button>
          </div>
        </ng-template>
        

      