<body>
    <header>
        <div class="wrapper">
            <div class="logo">
                <img src="https://cdn.icon-icons.com/icons2/1857/PNG/512/ninja_117747.png" alt="">
            </div>
            <ul class="nav-area">
                <li><a href="#" routerLink="/student">student</a></li>
                <li><a href="#" routerLink="/teacher">teacher</a></li>
                <li><a href="#" routerLink="/subject">subject</a></li>
                <li><a href="#" routerLink="/officer">officer</a></li>
            </ul>

        </div>

        <div class="welcome-text">
            <h1>We are Msu</h1>
            <a href="#">Contact Us</a>
        </div>

    </header>

</body>